<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=devic-width, initial-scale=1.0">


    <title>REPO ROASTER</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main>

        <section class="hero">
            <h1>🔥 REPO ROASTER</h1>

            <p>Dont u dare to drop u sh*t, u gonna destroyed</p>

            <input

                type="text"
                id="repo-url"
                placeholder="https://github.com/owner/repository"
                
            >

            <button id="roast-btn">
                Death sentence 
            </button>
        </section>

        <section id="result"></section>

        </main>

        <!-- to  load js after the HTML-->
        <script src="{{ url_for('static', filename = 'script.js')}}"></script>
</body>
</html>