<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Repo Roaster</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <main>

    <section class="hero">
      <h1>🔥 Repo Roaster</h1>

      <p>Dont u dare to drop u sh*t, u gonna destroyed</p>

      <input type="text" id="repo-url" placeholder="https://github.com/owner/repository">

      <button id="roast-btn">
        Death sentence
      </button>
    </section>

    <section id="result"></section>

  </main>

  <div id="warning-modal" class="warning-overlay">

    <div class="warning-box">

      <h1>Emotional Damage Waiver</h1>

      <p>
        Repo Reaper exists for one purpose:
        <strong>to brutally roast your repository.</strong>
      </p>

      <p>
        The insults can get pretty extreme. Your code may be called horrible things.
      </p>

      <ul>
        <li>1 - Your feelings may get hurt.</li>
        <li>2 - Your code may never recover.</li>
        <li>3 - You accept full emotional responsibility.</li>
      </ul>

      <label class="agree-box">
        <input type="checkbox" id="agree-checkbox">
        I understand my repository is about to get cooked.
      </label>

      <div class="warning-buttons">

        <button id="leave-btn">
          ❌ I'm too fragile
        </button>

        <button id="accept-btn" disabled>
          🔥 Roast my repo
        </button>

      </div>
    </div>
  </div>

  <!-- to load js after the HTML -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <div id="jumpscare" class="hidden">

    <img id="monster" src="/static/images/jin.jpg" alt="monster">
  </div>
</body>

</html>
